
.spoiler-thumbnail {
    filter: blur(20px);
}


.spoiler-title-hidden {
    visibility: hidden;
    height: 0;
}


.spoiler-overlay {
    font-size: 1.4rem; 
    font-weight: 500;
    color: #888888; 
    padding: 2px 0;
}